<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hiveview.dao.AppDeveloperDao">

	<select id="getList" parameterType="com.hiveview.entity.AppDeveloper" resultType="com.hiveview.entity.AppDeveloper">
		SELECT id,developer_name as developerName,
		state,create_time as createTime,
		update_time as updateTime FROM `app_developer` where id = #{id};
	</select>

	
</mapper>