<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiveview.dao.ICategoryDao" >
  <resultMap id="BaseResultMap" type="com.hiveview.entity.Category" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="one_level" property="oneLevel" jdbcType="BIGINT" />
    <result column="two_level" property="twoLevel" jdbcType="BIGINT" />
    <result column="three_level" property="threeLevel" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, full_name, level, one_level, two_level, three_level, add_time, type, status, 
    attribute
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from j_class
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from j_class
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hiveview.entity.Category" >
    insert into j_class (id, name, full_name, 
      level, one_level, two_level, 
      three_level, add_time, type, 
      status, attribute)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR},
      #{level,jdbcType=TINYINT}, #{oneLevel,jdbcType=BIGINT}, #{twoLevel,jdbcType=BIGINT},
      #{threeLevel,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{type,jdbcType=TINYINT},
      #{status,jdbcType=TINYINT}, #{attribute,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hiveview.entity.Category" >
    insert into j_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="oneLevel != null" >
        one_level,
      </if>
      <if test="twoLevel != null" >
        two_level,
      </if>
      <if test="threeLevel != null" >
        three_level,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="oneLevel != null" >
        #{oneLevel,jdbcType=BIGINT},
      </if>
      <if test="twoLevel != null" >
        #{twoLevel,jdbcType=BIGINT},
      </if>
      <if test="threeLevel != null" >
        #{threeLevel,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiveview.entity.Category" >
    update j_class
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="oneLevel != null" >
        one_level = #{oneLevel,jdbcType=BIGINT},
      </if>
      <if test="twoLevel != null" >
        two_level = #{twoLevel,jdbcType=BIGINT},
      </if>
      <if test="threeLevel != null" >
        three_level = #{threeLevel,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hiveview.entity.Category" >
    update j_class
    set name = #{name,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      one_level = #{oneLevel,jdbcType=BIGINT},
      two_level = #{twoLevel,jdbcType=BIGINT},
      three_level = #{threeLevel,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      attribute = #{attribute,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getList" resultMap="BaseResultMap" parameterType="com.hiveview.entity.Category" >
    select
    <include refid="Base_Column_List" />
    from j_class
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null" >
       AND name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="fullName != null" >
        AND full_name = #{fullName,jdbcType=VARCHAR}
      </if>
      <if test="level != null" >
        AND level = #{level,jdbcType=TINYINT}
      </if>
      <if test="oneLevel != null" >
        AND  one_level = #{oneLevel,jdbcType=BIGINT}
      </if>
      <if test="twoLevel != null" >
        AND two_level = #{twoLevel,jdbcType=BIGINT}
      </if>
      <if test="threeLevel != null" >
        AND  three_level = #{threeLevel,jdbcType=BIGINT}
      </if>
      <if test="type != null" >
        AND type = #{type,jdbcType=TINYINT}
      </if>
      <if test="status != null" >
        AND status = #{status,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <select id="getSonCategory" resultMap="BaseResultMap" parameterType="long" >
    select
    <include refid="Base_Column_List" />
    from j_class
    WHERE  parent_id = #{parentId}
  </select>
</mapper>