html, body{
	font-family: "微软雅黑",'microsoft yahei';
	font-size: 12px;
	padding:0px;
	margin:0px;
	background-color: #FFFFFF;
}
div, ul, li {font-family: "微软雅黑",'microsoft yahei';font-size: 12px;padding:0px;margin:0px;list-style: none;}
input, button {border: none medium;outline: none;font-family: "微软雅黑";}
a{text-decoration: none;}
a:hover{color: #ee4134;}
s{text-decoration: none;}
iframe{width: 100%;border: 0px;margin: 0px;padding: 0px;height:100%;}
.clear{clear: both !important;}
.clearfix:after{clear:both;content: "\20";display: block;}
.noborderLeft{border-left: none!important;}
.userName{color:#0088cc;}
.redClass{color: #FFF;background-color: red;}
.redColorClass{color: red;padding-right: 3px;}
.font22{font-size: 22px;}
.textLeft{text-align: left!important;}
.textCenter{text-align: center!important;}
.ta1{text-decoration: underline;color: blue;}

button, html input[type="button"], input[type="submit"] {cursor: pointer;}
.search-form-box{font-size: 0;}
.search-form-box input, .search-form-box button {display: inline-block;vertical-align: middle;font-size: 14px;}
.top_out{width: 100%;height: 30px;line-height: 30px;background-color:#fafafa;border-bottom: 1px solid #dfdfdf;font-family: tahoma,"Microsoft Yahei","Hiragino Sans GB",sans-serif;}
.top_logo{float: left;}
.top_out_right{float:right;}
.top_welcome{float: left;margin-right: 10px;}
.top_reg{float: left;}
.top_reg a{width: 48px; text-align: center;display: inline-block;}
.top_tuiguang{float: left;}
.top-search{padding: 23px 0px;}
.logo-box{float: left;}
.search-form{float: right;}
.search-form-tab li{position: relative;display: inline-block;vertical-align: middle;margin-right: 20px;	font-size: 14px;color: #999;line-height: 24px;	padding-bottom: 10px;}
.search-form-box input{
	line-height: 16px;
	height: 16px;
	padding: 8px 10px;
	border: 2px #2486b5 solid;
	width: 294px;
	border-right: 0;
	border-radius: 2px 0 0 2px;
}
.search-form-box button{
	line-height: 36px;
	padding: 0 20px 0 15px;
	background:#2486b5;
	color: #fff;
	font-size: 16px;
	border-radius: 0 2px 2px 0;}
.search-form-box span {
	margin-left: 2px;
	position: relative;
	top: -2px;
}
.size25 {display: inline-block;vertical-align: middle;width: 25px;height:31px;background-image: url(../images/public.png);}
.size14{font-size: 14px!important;}
.size18{font-size: 18px!important;}
.size22{font-size: 22px!important;}
.defaultCursor{cursor: default;}
.qColor{color: #7fb5cf;}
.contentTop{margin-top:10px;}



/*** nav part start ***/
/*.nav{height:48px;line-height:48px;background-color: #637a8e;}*/
/*.nav-li1{width: 220px;float:left;text-align: center;position: relative;}*/
/*.navCurrent{background-color:#4f606f;}*/
/*.nav-li1 i{background-position: -25px 0px;background: url("../images/icon/global_icon.png") no-repeat;width: 25px;height: 27px;display: inline-block;vertical-align: middle;}*/
/*.nav-li1 a{display:block;font-weight: bold;text-align:left;color: #FFF;}*/
/*.nav-li1 a:hover{color: #FFF;}*/
/*.nav-li{width: 125px;float:left;text-align: center;}*/
/*.nav-li a{color: #000;display:block;color: #FFF;}*/
/*.nav-li a:hover{background-color:#4f606f;font-weight: bold;color: #FFF;}*/
/*.nav-t2{font-size: 15px;font-weight: bold;}*/
/*.nav-c2{width: 95%;margin-left: auto;margin-right: auto;}*/
/*.nav-c2-fenge{border-bottom: 1px dashed #e2e2e2;padding-top: 10px;width: 95%;margin-left: auto;margin-right: auto;}*/
/*.nav-l2-container{background-color:#454444;color:#FFF;position: absolute;top:48px;display: none;padding-left: 5px;z-index: 2;}*/
/*.nav-c2 span{display: inline-block;height:26px;line-height:26px;float: left;margin-right: 15px;font-size: 13px;}*/
/*.nav-l2c{text-align: left;}*/
.nav{height:48px;line-height:48px;border-bottom: 2px solid #2486b5;}
.nav-li1{width: 220px;float:left;text-align: center;position: relative;background-color: #2486b5;}
.navCurrent>a{color:#2486b5!important;font-weight: bold;}
.nav-li1 i{background-position: -25px 0px;background: url("../images/icon/global_icon.png") no-repeat;width: 25px;height: 27px;display: inline-block;vertical-align: middle;}
.nav-li1 a{display:block;font-weight: bold;text-align:left;color: #FFF;margin-left: 15px;font-size: 16px;}
.nav-li1 a:hover{color: #FFF;}
.nav-li{width: 125px;float:left;text-align: center;}
.nav-li a{color: #000;display:block;font-size: 16px;}
.nav-li a:hover{font-weight: bold;color:#2486b5;}
.nav-t2{font-size: 15px;font-weight: bold;color: #000;}
.nav-c2{width: 95%;margin-left: auto;margin-right: auto;}
.nav-c2-fenge{border-bottom: 1px dashed #e2e2e2;padding-top: 10px;width: 95%;margin-left: auto;margin-right: auto;}
.nav-l2-container{background-color:#FFF;color:#FFF;position: absolute;top:48px;display: none;padding-left: 5px;z-index: 2;box-shadow: 0px 0 10px rgba(0,0,0,.1);}
.nav-c2 span{display: inline-block;height:26px;line-height:26px;float: left;margin-right: 8px;font-size: 13px;color:#666;}
.nav-c2 a{display: inline-block;height:26px;line-height:26px;float: left;margin-right: 15px;font-size: 13px;color:#666;font-weight:initial;margin-left: 0px;}
.nav-c2 a:hover{color:#004b92;text-decoration: underline;}
.nav-l2c{text-align: left;}

.pr60{padding-right: 60px;}
.pl60{padding-left: 60px;}

.member_menu_logo-box{    display: inline-block;
	color: #777;
	font-family: "Microsoft Yahei","Hiragino Sans GB";
	font-size: 26px;
	font-weight: normal;
	height: 46px;
	vertical-align: middle;
	line-height: 46px;}
.t_nav{background-color: #349dcd;}
.t_nav li{height: 46px;line-height: 46px;text-align: center;width:210px;}
.t_nav li a:hover{background-color: #004b92;}
.current_c{background-color: #36a8f8 !important;}
/*** nav part end ***/
.position2{width: 1180px;padding:11px 0 8px 0px;margin: auto;
	/*background: url(../images/position.png) no-repeat left center;*/
	font-size: 12px;}

.content{width:1180px;margin-left: auto; margin-right: auto;}
/** posttion part**/
.a_blue{color:blue;}
.main_nav{height:42px;line-height:42px;background-color:#f2f2f2;margin:0px 0px 10px 0px;padding-left: 10px;}
.titleNav{border-left:3px solid #ee4134; padding-left:5px;margin:20px 0px;font-size: 16px;}

/*** bottom part ***/
.bottomCss{margin-top:107px;padding-top:40px;background-color:#2a3235;color: #FFF;}
.bottomCss:after{content: ' ';clear: both;}
.bottomNav{width:400px;float:left;background: url(../images/line-border.png) no-repeat right center;margin-right: 22px;height:130px;}
.bottomNav a{color: #FFF;width:120px;float: left;display: inline-block;line-height: 24px;}
.app{float:left;background: url(../images/line-border.png) no-repeat right center;    height: 150px;width:360px;}
.erweima{width: 120px;text-align: center;float:left;margin-left: 30px;}
.erweima span{font-size: 12px;}
.appLink{width:140px;height:60px;background-size: 100px;float: left;}
.appLink a{display: inline-block;}
.kefuPhone{padding: 0px 0px 0px 20px;float:left;}
.kefuPhone span{line-height: 21px;height: 21px;display: block;color: #9a9a9a;}
.kefuPhone strong{	display: inline-block;color: #fff;font-size: 28px;font-weight: 100;padding-left: 28px;background: url(../images/phoneIcon.png) no-repeat left center;}
.footLogo{pdding-top: 25px;}
.footBottom{padding: 20px 0 20px 0px;}
.footBottom p{line-height: 22px;color: #888;}

/*** 导航标题栏 ***/
.mod-boxhd {
	position: relative;
	padding-left: 12px;
	line-height: 1;
	margin-bottom: 20px;
}
.mod-boxhd:before {
	position: absolute;
	content: '';
	width: 4px;
	height: 24px;
	background-color: #de373e;
	top: 0;
	left: 0;
}
.mod-boxhd-tit {
	display: inline-block;
	vertical-align: top;
	color: #323232;
	margin-top: 0;
	font-size: 22px;
}
/*** 会员中心左侧导航 ***/
.c_left{width: 210px;float:left;background-color: #FFFFFF;}
.member_menu{border: 1px solid #EEE;}
/*** 会员中心右侧导航 ***/
.c_right{margin-left:10px;width: 958px;float: left;background-color: #FFFFFF;position: relative;}

/*** 会员中心导航下部区域 ***/
#container{padding-top:15px;}
.memver_c{margin-bottom: 15px;}

/*** 会员中心公告区域 ***/
.gonggao_title{margin: 15px 5px;}
.gonggao{border: 1px solid #EEE;}
.gonggao li{width: 100%;height:45px;line-height:45px;border-bottom: 1px solid #eee;}
.gonggao li a{margin-left: 15px;}
/*两行溢出隐藏文字*/
.beyond2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.hidden_text {
	width:200px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}
.module_nav{margin-bottom:56px;}
.module_title{font-size: 16px;padding: 18px 0px;border-bottom: 1px solid #999999;}

/*分隔线部分*/
.border-line{border:1px solid #999999;margin-top: 70px;margin-bottom: 68px;}
