.search_select .search_a{    display: block;
    height: 36px;
    width: 76px;
    color: #fff;
    border: 2px solid #ff6600;
    background-color: #ff6600;
    text-align: center;}
/*------------会员中心 头部---------------*/
.t_search {height: 60px;}
.t_search_t {width: 500px; height: 46px; float: left; margin-top: 7px;}
.t_search_t img {height: 46px;}
.t_search_text {display: inline-block; *display: inline; *zoom: 1; color: #777; font-family: "Microsoft Yahei", "Hiragino Sans GB"; font-size: 26px; font-weight: normal; height: 42px; vertical-align: middle; padding-top: 4px;}
.t_search_text span {display: inline-block; *display: inline; *zoom: 1; font-size: 16px; margin-left: 5px; line-height: 160%; vertical-align: -2px;}
.a_old {display: inline-block; *display: inline; *zoom: 1; width: 68px; height: 20px; border: 1px solid #0088ee; font-size: 12px; font-family: "Microsoft Yahei", "Hiragino Sans GB"; text-align: center; line-height: 20px; color: #0088ee; margin-left: 18px; vertical-align: middle;}
.a_old:hover {background-color: #0088ee; color: #FFF;}
.t_search_s {float: right; margin-top: 10px;}
.search_select {display: block;position: relative; float: left; font-size: 14px; font-family: "Microsoft Yahei", 'Hiragino Sans GB';}
.search_select.search-select-active {position: relative;}
.search_select .search_a {display: block; height: 36px; width: 76px; border: 2px solid #dfdfdf; background-color: #f8f8f8; text-align: center;}
.search_select .search_a span {display: inline-block; *display: inline; *zoom: 1; line-height: 36px;color: #000;font-size: 12px;}
.search_select .search_a s {display: inline-block; margin-left: 6px; margin-top: 0; vertical-align: middle;color:#000;}
.search_select .search_options {background: #fff; border: 2px solid #dfdfdf; border-top: none; left: 0; right: 0; position: absolute; top: 36px; z-index: 100; display: none;}
.search_select .search_options a {display: block; padding-left: 18px; height: 30px; line-height: 30px;}
.search_select .search_options a:hover {background: #f8f8f8; color: #3c3c3c;}
.t_form {float: left; border-top: 2px solid #dfdfdf; border-bottom: 2px solid #dfdfdf; background-color: #fff; width: 400px; height: 36px;}
.t_form .keywords {width: 380px; padding: 0 10px; height: 36px; line-height: 36px; font-size: 14px; font-family: "Microsoft Yahei", 'Hiragino Sans GB'; float: left; color: #005; outline: none; border: 0;}
.t_form input[type=text]:focus {border: none !important;}
.t_btn_div {float: left;}
.search_btn {float: left; width: 80px; height:39px; border: none; display: inline-block; *display: inline; *zoom: 1; cursor: pointer; background: #ff6600; font-size: 14px; font-family: "Microsoft Yahei", 'Hiragino Sans GB'; color: #FFF;}
.search_btn:hover {background: #0088ee;}
.search_btn.a {background: #0099ff;}
.search_btn.a:hover {background: #0088ee;}

/*买家*/
.t_buy .a_old {border: 1px solid #ff6600; color: #ff6600;}
.t_buy .a_old:hover {background-color: #ff6600; color: #FFF;}
.t_buy .search_select .search_options {}
.t_buy .search_btn {background: #349DCD;}
.t_buy .search_btn:hover {background: #1786ef;}
.t_buy .search_btn.a {background: #ff5500;}
.t_buy .search_btn.a:hover {background: #ff3300;}

/*------------会员中心 导航共用---------------*/
.t_nav_list {font-size: 18px; color: #fff; height: 44px; line-height: 44px;}
.t_nav_list li {height: 44px; float: left; line-height: 44px; text-align: center;}
.t_nav_list li a {display: block; color: #fff; font-size: 18px;}
.t_nav_list li.a {position: relative; height: 44px; line-height: 44px; background-color: #00aaff; width: 180px; text-align: left;}
.t_nav_list li.a a {display: inline-block; padding: 0;}
.t_nav_list li.a a:hover {background-color: transparent;}
.t_nav_list li.a .icon_toggle {font-size: 12px; position: absolute; right: 30px; top: 9px; width: 65px; height: 24px; border: 1px solid #66ccff; background-color: #33bbff; color: #fed; line-height: 24px; text-align: center; cursor: pointer;}
.t_nav_list li.a .icon_toggle:hover {background-color: #00aaff;}

/*买家*/
.nav_buy.t_nav {background-color: #ff5500;}
.nav_buy .t_nav_list li a:hover {background-color: #ff3300;}
.nav_buy .t_nav_list li.a {position: relative; height: 44px; line-height: 44px; background-color: #ff6600; width:210px; text-align:center;}
.nav_buy .t_nav_list li.a a {display: inline-block; padding: 0;}
.nav_buy .t_nav_list li.a a:hover {background-color: transparent;}
.nav_buy .t_nav_list li.a .icon_toggle {font-size: 12px; position: absolute; right: 30px; top: 9px; width: 65px; height: 24px; border: 1px solid #ffbb88; background-color: #ff9966; color: #fed; line-height: 24px; text-align: center; cursor: pointer;}
.nav_buy .t_nav_list li.a .icon_toggle:hover {background-color: #ff6600;}

/*--------------会员中心 左菜单共用---------------*/
.l_menu {padding: 10px 20px; background-color: #FFF}
.l_menu h4 {color: #333; font-size: 16px; height: 36px; line-height: 36px; font-weight: 700;}
.l_menu h4 img {height: 14px; width: 14px; float: right; margin-top: 11px; cursor: pointer;}
.l_menu p {height: 32px; line-height: 32px; padding-left: 20px;}
.l_menu p img {height: 10px; width: 18px; float: right; margin-top: 13px; cursor: pointer;}
.l_menu p a {height: 32px; line-height: 32px; color: #555555; font-size: 14px;}
.l_menu p a.c_999 {color: #999;}
.l_menu p a:hover {color: #0099ff;}
.l_menu p a.on {color: #0099ff; font-weight: bold;}
.l_menu_buy.l_menu p a:hover {color: #ff5500;}
.l_menu_buy.l_menu p a.on {color: #ff5500; font-weight: bold;}
.l_menu .l_b_line_01 {border-top: 1px solid #eeeeee; margin: 11px 0; padding: 9px 0 0;}
.l_menu p.l_b_grey a {color: #999;}
.l_menu .l_n_line {border-top: none; margin: 0; padding: 0;}
.l_menu .l_n_line p.l_b_grey {display: none;}
.l_menu .l_n_line p img {display: none;}
.l_service {padding: 10px 20px; border-top: 1px solid #eeeeee; background-color:#FFF}
.l_service h4 {color: #333; font-size: 16px; height: 36px; line-height: 36px; margin-bottom: 7px;}
.l_service h4 s {height: 11px; width: 7px; float: right; margin-top: 8px; cursor: pointer; font-size: 20px; color: #0088ee;}
.l_service h4 a {color: #333; font-weight: 700;}
.l_service p {padding-left: 20px; margin-bottom: 10px; font-size: 14px;}
.l_service p img {height: 30px; width: 30px; margin-right: 12px; vertical-align: -9px;}
.l_service p a {color: #333333; height: 30px; line-height: 30px; font-size: 14px;}
.l_service p a:hover {color: #0088ee;}
.l_service p a.a_prompt {color: #ff5500;}
.l_service p a.a_prompt:hover {text-decoration: underline;}

/*--------------会员中心 提醒区--------------*/
.l_topjd {width: 170px;padding-left: 20px; height: 60px;}
.l_topjd p {line-height: 28px;padding-top: 6px}
.l_topjd a:hover {text-decoration: underline}
.l_topjd a img {margin-bottom: 2px}
.l_topjd_buy {background: url(../images/m_top.jpg) no-repeat center top;}
.l_topjd_sell {background: url(../images/m_top_o.jpg) no-repeat center top;}

/*买家*/
.l_menu_buy.l_service p a.a_prompt {color: #ff0000;}
.l_menu_buy.l_service p a:hover {color: #ff0000;}

/*-------------------- 会员中心  服 务--------------------*/
.service_set {height: 30px; background-color: #FFF; padding-left: 20px;}
.service_set a {font-size: 14px; color: #333333; line-height: 30px; font-weight: bold;}
.service_set a s {margin-right: 8px; color: #0099ff;}
.service_set a:hover {color: #0099ff;}

/*--------------------会员中心-右侧通用--------------------*/

/*------会员中心右侧-会员------*/
.right_info {width: 230px;}
.role_info {background-color: #FFF; padding-bottom: 19px;}
.role_img {width: 230px; height: 124px; background-color: #fafafa; position: relative;}
.role_imgbox {width: 76px; height: 76px; position: absolute; top: 39px; left: 77px; z-index: 2;}
.role_a {width: 76px; height: 76px; position: absolute; top: 39px; left: 77px; z-index: 5;}
.role_imgbox img {width: 76px; height: 76px;}
.role_z {width: 230px; height: 124px; position: absolute; top: 0; left: 0; z-index: 4; background: url(../images/noimg/role_bgimg.png) no-repeat center top;}
.role_d {width: 30px; height: 33px; position: absolute; top: 67px; right: 12px; z-index: 4;}
.role_pl20 {padding-left: 20px;}
.r_company {color: #555; font-size: 14px; color: #555; padding: 3px 20px 8px 0;}
.r_icon {padding-bottom: 17px;}
.r_icon img {margin-right: 5px; height: 18px; width: 18px;}
.r_safe {padding-bottom: 13px; height: 17px;}
.r_safe_l, .r_safe_c, .r_safe_r {font-size: 12px; color: #555; float: left; margin-right: 8px; height: 17px;}
.r_safe_l span {color: #ff0000;}
.r_safe_c {width: 80px; border-radius: 4px; border: 2px solid #cacaca; height: 4px; margin-top: 5px;}
.r_safe_c div {position: relative; margin: 0 -1px;}
.r_safe_c span {background: #ff3232; left: 0; top: -1px; height: 6px; position: absolute; border-radius: 3px;}
.r_safe_z .r_safe_l span {color: #ff6600;}
.r_safe_z .r_safe_c span {background: #ff6600;}
.r_safe_g .r_safe_l span {color: #009900;}
.r_safe_g .r_safe_c span {background: #009900;}
.r_safe_r a {color: #0088ee;}
.r_safe_r a:hover {text-decoration: underline;}
.r_kb {font-size: 12px; color: #555;}
.r_kb span {font-size: 16px; color: #ff0000; font-family: "Arial";}
.r_kb_btn {display: block; width: 152px; height: 30px; padding-left: 50px; line-height: 30px; background-color: #ff6600; color: #fff; text-align: left; position: relative; margin-top: 7px;}
.r_kb_btn:hover {background: #0099ff;}
.r_kb_btn span {position: absolute; left: 132px; top: 0;}
.r_kb_btn s {margin-right: 4px; width: 10px; height: 13px; display: inline-block; *display: inline; *zoom: 1; vertical-align: 1px; +vertical-align: 4px;}
.r_kb_btn s img {width: 10px; height: 13px;}
.r_cz {margin-top: 10px;}
.r_cz a {font-size: 14px; color: #0088ee; text-decoration: none; margin-right: 18px;}
.r_cz a:hover {text-decoration: underline;}
.r_btn_o {display: block; text-align: center; margin: 0 auto; width: 68px; height: 20px; color: #0088ee; line-height: 20px; border: 1px solid #0088ee; border-radius: 3px; background-color: #fff; cursor: pointer;}
.r_btn_o:hover {background: #0088ee; color: #fff;}

/* --------------会员中心会员中心-右侧-公告--------------会员中心 */
.r_affiche {padding: 10px; background-color: #FFF;}
.bt_lline {}
.r_affiche h4 {font-size: 16px; color: #555; padding-left: 12px; position: relative; height: 32px; line-height: 32px;}
.r_affiche h4 s {float: right; color: #9d9d9d; font-size: 20px; margin-top: 6px; width: 10px; cursor: pointer; margin-right: -3px;}
.r_affiche h4 s.onColor {color: #08e;}
.r_affiche h4 span {position: absolute; left: 0; top: 10px; width: 2px; height: 12px; background-color: #09F;}
.r_affiche_list {margin-top: 7px;}
.r_affiche_list li {margin-bottom: 10px;}
.r_affiche_list li a {display: block; line-height: 22px; color: #555; padding-left: 14px; position: relative;}
.r_affiche_list li a span {display: block; width: 3px; height: 3px; background-color: #555; left: 2px; top: 10px; +top: 7px; position: absolute;}
.r_affiche_list li a s img {display: inline-block; width: 20px; height: 12px; vertical-align: 2px;}

.r_affiche_list li a:hover {color: #0088ee;}
.r_affiche_list li a:hover span {background-color: #0088ee;}
.slideBox {width: 210px; height: 80px; overflow: hidden; position: relative;}
.slideBox .hd {height: 6px; overflow: hidden; position: absolute; right: 0; left: 0; bottom: 10px; z-index: 1;}
.slideBox .hd ul {overflow: hidden; zoom: 1; width: 100%; text-align: center;}
.slideBox .hd ul li {display: inline-block; *display: inline; *zoom: 1; margin-right: 3px; margin-left: 3px; width: 4px; height: 4px; line-height: 0; font-size: 0; text-align: center; background: #999; cursor: pointer; border-radius: 50%;}
.slideBox .hd ul li.on {background: #0088ee;}
.slideBox .bd {position: relative; height: 100%; z-index: 0;}
.slideBox .bd li {zoom: 1; vertical-align: middle;}
.slideBox .bd img {width: 210px; height: 80px; display: block;}
.r_hxinfo .r_affiche_list {margin-top: 11px;}
.r_hxinfo .r_affiche_list li {margin-bottom: 8px;}
.r_hxinfo .r_affiche_list li a {width: 194px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.r_hxinfo .r_affiche_list li a span {+top: 10px;}
.r_hxinfo.r_affiche h4 s {margin-right: 4px; font-size: 16px;}
.r_infor_cont2 {color: #555; width: 210px;}
.r_infor_cont2 .smwz {line-height: 20px; margin: 10px 6px 0 10px; clear: both; color: #555;}
.btn10 {margin: 10px 0 10px 10px;}
.right_a_old {display: inline-block; *display: inline; *zoom: 1; width: 68px; height: 22px; background-color: #00aaff; font-size: 12px; font-family: "Microsoft Yahei", "Hiragino Sans GB"; text-align: center; line-height: 22px; color: #fff;}
.right_a_old:hover {background-color: #0088ee; color: #FFF;}

/*会员中心-买家右侧*/
.right_buy .r_kb_btn {background-color: #ff6600;}
.right_buy .r_kb_btn:hover {background: #ff5500;}
.right_buy .r_affiche h4 s {color: #ff6600;}
.right_buy .r_affiche h4 span {background-color: #ff6600;}
.right_buy .r_affiche_list li a:hover {color: #ff6600;}
.right_buy .r_affiche_list li a:hover span {background-color: #ff6600;}
.right_buy .slideBox .hd ul li.on {background: #ff6600;}
.right_buy .a_old {border: 1px solid #ff6600; color: #ff6600;}
.right_buy .a_old:hover {background-color: #ff6600; color: #FFF;}
.picScroll-left {width: 210px; overflow: hidden; position: relative; margin-top: 7px;}
.picScroll-left .hd {overflow: hidden; height: 30px; padding: 0 10px; text-align: center;}
.picScroll-left .hd .prev,.picScroll-left .hd .next {display: inline-block; *display: inline; *zoom: 1; cursor: pointer; color: #cccccc; width: 16px; height: 16px; margin-top: 12px; vertical-align: middle ; overflow: hidden; font-size: 10px;}
.picScroll-left .hd .prev:hover,.picScroll-left .hd .next:hover {color: #999;}
.picScroll-left .hd ul {display: inline-block; *display: inline; *zoom: 1; overflow: hidden; zoom: 1; margin-top: 7px; zoom: 1; vertical-align: middle;}
.picScroll-left .hd ul li {display: inline-block; *display: inline; *zoom: 1; margin-right: 3px; margin-left: 3px; width: 4px; height: 4px; line-height: 0; font-size: 0; text-align: center; background: #999; cursor: pointer; border-radius: 50%;}
.picScroll-left .hd ul li.on {background: #ff6600;}
.picScroll-left .bd {width: 208px; height: 208px; border: 1px solid #e6e6e6;}
.picScroll-left .bd ul {overflow: hidden; zoom: 1;}
.picScroll-left .bd ul li {float: left; _display: inline; overflow: hidden; text-align: center;}
.picScroll-left .bd ul li img {width: 208px; height: 208px; display: block;}

/*--------------会员中心 通用底部--------------*/
.F-footer {width: 100%;}
.F-footer .F-footer-top {border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; background-color: #fff; height: 240px;}
.F-footer .F-footer-bottom {background-color: #0088ee; height: 50px;}
.F-footer .F-cow, .F-footer .F-cow img {width: 130px; height: 172px;}
.F-footer .F-cow img {margin: 30px 0 0 10px;}
.F-footer .F-problem {margin-left: 50px; width: 350px; height: 240px;}
.F-footer .F-problem h3, .F-footer .F-tel h3 {text-indent: 113px; margin: 55px 0 20px 0; font-weight: normal; color: #333; line-height: 30px;}
.F-footer .F-problem a {font-family: "Microsoft Yahei", "Hiragino Sans GB"; margin-left: 16px; font-size: 14px; color: #555; display: inline-block; *display: inline; *zoom: 1; width: 156px; line-height: 30px;}
.F-footer .F-problem a:hover {color: #0088ee;}
.F-footer .F-tel {margin-left: 60px; width: 450px; height: 240px;}
.F-footer .F-tel h3 {text-indent: 127px;}
.F-footer .F-tel p {font-family: "Microsoft Yahei", "Hiragino Sans GB"; font-size: 14px; color: #555; line-height: 30px;}
.F-footer .F-tel p span {display: inline-block; *display: inline; *zoom: 1; width: 30px;}
.F-icon-list {position: relative; margin-top: 15px; width: 480px;}
.F-icon-list .F-icon-left {font-family: "Microsoft Yahei", "Hiragino Sans GB"; width: 70px; font-size: 14px; color: #555;}
.F-icon-list img {margin: 0 20px 0 6px; width: 20px; height: 20px; cursor: pointer;}
.F-icon-list .F-code-bg {position: absolute; width: 136px; height: 139px; background: url(../images/share/wei_bg.png) no-repeat center top;}
.F-icon-list .F-weixin {display: none; right: 70px; top: -60px;}
.F-icon-list .F-weibo {display: none; right: 20px; top: -60px;}
.F-icon-list .F-weibo img, .F-icon-list .F-weixin img {margin: 17px 0 0 16px; width: 105px; height: 105px;}
.F-footer .F-code {margin-left: 40px; width: 110px; height: 240px;}
.F-footer .F-code img {margin-top: 65px; width: 110px; height: 110px;}
.F-footer-bottom p {font-size: 14px; color: #fff; line-height: 50px;}
.F-footer-bottom p span {width: 40px; display: inline-block; *display: inline; *zoom: 1;}
.F-footer-buy.F-footer .F-footer-bottom {background-color: #ff5500;}
.F-footer-buy.F-footer .F-problem a:hover {color: #f60;}