.search-select{border:1px solid #eee;background-color: #FFF;}
.search-select li{margin: 15px;border-bottom: 1px solid #eee;padding-bottom: 20px;}
.search-select h3{min-width:100px;height: 30px;line-height: 30px;display:block;float: left;}
.allSelect{background-color:#ee4134;color: #FFF;display:block;}
.selectSpan span{float: left;display: inline-block;min-width: 60px;height: 30px;line-height:30px;text-align: center;margin-right: 10px;}
.selectSpan span>a{padding-left: 8px;padding-right: 8px;}
.adviser-list-info span{font-size:22px;margin-right: 20px;}
.adviser-list-info p{line-height: 35px;height: 35px;}
.adviser-list-href a{border: 2px solid #ee4134;padding: 10px 30px;color:#ee4134;}