.user {
    background: url(../images/home-bg.jpg) no-repeat center;
    float: left;
    width: 930px;
    margin: 15px 0 0 8px;
	color: #fff;
    height: 260px;
    border-radius: 2px;
}
.user_left .img_box p{
	padding: 30px 36px;
}
.user_left .img_box button{
	color: #63bcde;;
	font-size: 14px;
	background: none;
}
.user_right {
	float: left;
	width: 460px;
	padding: 0px 30px 0 10px;
	margin-top: 35px;
	border-left: 1px solid #ccc;
}
.user_right p{
	padding-bottom: 25px;
	padding-left: 50px;
}
.user_right p span{
	/*color: #52a0c4;*/
}
.user_right p:nth-of-type(4) span{
	line-height: 20px;
	color: #000000;
}
.user_right p button{
	margin-top: 10px;
	padding:0 6px;
	background: #2486b5;
	color: #FFF;
	border-radius: 2px;
	font-weight: 600;
	line-height: 16px;
}
.product,.form{
	margin-left: 8px;
	float: left;
	width: 930px;
	height: 570px;
	border-radius: 2px;
	margin-bottom: 40px;
	border: 1px solid #E3E3E3;
}
.layui-laypage {
	display: inline-block;
	vertical-align: middle;
	margin: 42px 0px 76px 0px;
	font-size: 0;
	margin-left: 370px;
}

.product ul{
	height: 105px;
	border-bottom: 1px solid #dfdfdf;
}
.product ul:nth-of-type(1){
	height: 42px;
	line-height: 42px;
	color: #FFF;
	background: #2486b5;
}
.product ul:nth-of-type(1) li{
	color: #fff;
	line-height: 40px;
	height: 40px;
}
.product ul li:nth-of-type(1){
	padding-left: 20px;
}
.product ul li:nth-of-type(2){
	width: 230px;
	overflow: hidden;
}
.product ul li:nth-of-type(3){
	 width: 100px;
	overflow: hidden;
 }
.product ul li:nth-of-type(6){
	padding-left: 20px;
}
.product ul li{
	color: #333333;
	text-align: center;
	line-height: 103px;
	width: 130px;
	float: left;
	height: 100px;
}
.product ul li img{
	width: 100px;
	height: 100px;
}
.product ul li button{
	color: #333333;
	background: none;
}

/*下一页*/
.pane {
    width: 405px;
   	margin: 0 45%;;
    padding-top: 30px;
}
.pane span {
	color: #c5c5c5;
    cursor: pointer;
    text-align: center;
    margin: 7px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #2486b5;
}
.pane button{
	margin: 0 10px;
	padding: 5px 10px;
	color: #fff;
	background: #2c88bb;
}
.pane span:hover{
	color: #fff;
	background: #2486B5;
}

/*personal data*/
.form{
	margin-left: 8px;
	float: left;
	width: 930px;
    height: 960px;
	border-radius: 2px;
	padding-top: 25px;
	border: 1px solid #E3E3E3;
}
.form ul input{
	width: 50px;
	height: 30px;
	border: 1px solid red;
}
.form p{
    width: 95%;
	margin: 0 auto;
}
.form p span{
	margin-right: 20px;
	text-align: right;
	display: inline-block;
	width: 80px;
	font-size: 16px;
	color: #2e2e2e;
	font-weight: bold;
	height: 65px;
	line-height: 65px;
}
.form p .span1{
	margin-left: -40px;
	color: #3834bf;
	font-size: 15px;
	width: 150px;
}
.form p	input{
	padding-left: 10px;
	height: 42px;
	width: 210px;
	border: 1px solid #000000; 
	border-radius: 5px;
}
.form p	input[type="radio"]{
	vertical-align:middle;
	height: 20px;
	width: 60px;
}
.form p	select{
	height: 42px;
	width: 220px;
	padding-left: 10px;
	border: 1px solid #000000; 
	border-radius: 5px;
}
.form p input[type="submit"]{
	margin: 50px 0;
	margin-left: 310px;
	margin-right: 100px;
}
.form p input[type="submit"],.form p input[type="reset"]{
	padding-left: 0px;
	font-size: 16px;
	color: #fff;
	width: 80px;
	height: 42px;
    padding-bottom: 2px;
	background: #2486b5;
	border: none;
}
.form p textarea {
	display: inline-block;
    /*min-height: 100px;
    height: auto;
    padding: 6px 10px;
    resize: vertical;
    line-height: 20px;
    position: relative;*/
    width: 80%;
}
/*.form p .span2{
	width: 670px;
	height: 150px;
    text-align: left;
    margin-top: 10px;
	border: 1px solid #000000;
	border-radius:5px ;
}
.form p .span2 input{
	border: 0;
	font-size: 12px;
	font-weight: 100;
}*/
